<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.taylorzhang.fragmentvisibility">

    <application>
        <activity android:name=".DirectlyTestActivity" />
        <activity android:name=".ContainerTestActivity" />
        <activity android:name=".ViewPagerTestActivity" />
        <activity android:name=".ViewPager2TestActivity" />
        <activity android:name=".NestedTestActivity" />
    </application>

</manifest>